# Flask и расширения
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
python-dotenv==1.0.1

# PostgreSQL
psycopg2-binary==2.9.9

# Redis и Celery
redis==5.0.1
celery==5.3.6

# Kafka
kafka-python==2.0.2

# Асинхронные задачи и очереди (для продвинутой обработки)
eventlet==0.33.3  # или gevent, если хочешь

# Логирование и отладка
loguru==0.7.2

# Вспомогательные библиотеки
requests==2.31.0
